@{
    ViewData["Title"] = "Home";
}

@section Header
{
<header>
    <a href="/" class="logo"><img src="/images/logo.png"></a>
    <h1> With Our Great Teachers </h1>
    <h2> Learn , Experience and Get to Work</h2>
    <h3> With Minimum Costs</h3>
</header>
<div class="search-form">
    <form>
        <button><i class="zmdi zmdi-search"></i></button>
        <input type="text" name="" placeholder="What do you like to Learn ?">
    </form>
</div>
}

<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>
                <h2> Latest Course`s </h2>
                <a href=""> All Course`s</a>
            </header>
            <div class="row">
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/1.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/2.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/3.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> 150 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/4.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/5.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> 15 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/6.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/7.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> 20 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/8.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> 75 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
            </div>
        </section>

        <hr>

        <section class="terms-items">
            <header>
                <h2> Most Seen Course`s</h2>
                <a href=""> All Course`s</a>
            </header>
            <div class="row">
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/1.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/2.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/3.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> 150 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/4.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/5.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> 15 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/6.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> Free </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/7.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> 20 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/8.jpg"></a>
                        <h2><a href=""> Xamarin Material Design </a></h2>
                        <span> 75 $ </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
            </div>
        </section>
    </div>
</main>