@model TopLearn.Data.Models.Users.User

<div style="padding: 20px">
    <h2>Dear @Model.UserName !</h2>
    <p>Thank you for your Registration , now you just need to Active your Account</p>
    <a href="http://localhost:5199/Account/ActiveAccount/@Model.ActiveCode">Active Account</a>
</div>