<!DOCTYPE html>
<html class="no-js" lang="En">
<head>
    <meta charset="UTF-8">
    <title> TopLearn | @ViewData["Title"] </title>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <script src="/js/modernizr-custom.js"></script>

    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12 text-left">
                        <ul>
                            <li>
                                <a href="/"> Home </a>
                                <a href=""> Courses</a>
                                <a href=""> About Us</a>
                                <a href=""> Contact Us</a>
                                <a href=""> Join Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="loggein text-right">
                                    <i class="zmdi zmdi-account"></i> 
                                    <a href="/UserPanel"> Welcome @User.Identity.Name !</a> /
                                    <a href="/Logout"> Logout </a>
                                </div>
                            }
                            else
                            {
                                <div class="signin text-right">
                                <i class="zmdi zmdi-account"></i>
                                <a asp-controller="Account" asp-action="Login"> Login </a> /
                                <a asp-controller="Account" asp-action="Register"> Register </a>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </nav>
            @await RenderSectionAsync("Header",false)
        </div>
    </div>

    <partial name="_MainMenu" />


    @RenderBody()


    <partial name="_Footer" />

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
</body>
</html>
