@page "{id}"
@using TopLearn.Core.ViewModels.AdminPanel
@using TopLearn.Data.Models.Users
@model TopLearn.Web.Pages.Admin.Users.EditModel
@{
    ViewData["Title"] = "Create User";
    List<Role> roles = ViewData["Roles"] as List<Role>;
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit User</h1>
    </div>
    
</div>

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    User Information
                </div>
                
                <div class="panel-body">
                    <input type="hidden" asp-for="EditUserViewModel.Id"/>
                    <input type="hidden" asp-for="EditUserViewModel.UserName"/>
                    <div class="form-group">
                        <label>UserName : </label>
                        <span class="text-muted">@Model.EditUserViewModel.UserName</span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" asp-for="EditUserViewModel.Email" class="form-control">
                    </div>
                    <span asp-validation-for="EditUserViewModel.Email" class="text-danger"></span>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" asp-for="EditUserViewModel.Password" class="form-control">
                    </div>
                    <span asp-validation-for="EditUserViewModel.Password" class="text-danger"></span>
                    <div class="form-group">
                        <label>Roles</label>
                        @foreach (var item in roles)
                        {
                            <div class="checkbox">
                                <label>
                                    <input
                                        type="checkbox" name="SelectedRoles" value="@item.Id"
                                        @((Model.EditUserViewModel.Roles.Any(r => r == item.Id) ? "checked" : ""))>
                                    @item.Title
                                </label>
                            </div>
                        }

                    </div>
                    <input type="submit" value="Edit" class="btn btn-warning"/>
                </div>
                
            </div>
        </div>
        
    </form>
</div>
