@model TopLearn.Core.ViewModels.UserPanel.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">TopLearn</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_UserPanelSideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> Change Password </h1></header>
                        <div class="inner form-layer">
                            <form asp-action="ChangePassword" method="post">
                               
                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-key"></i></span>
                                            <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Current Password" aria-describedby="current password">
                                        </div>
                                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                            <input type="password" class="form-control" asp-for="NewPassword" placeholder="New Password" aria-describedby="new password">
                                        </div>
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                            <input type="password" class="form-control" asp-for="ConfirmNewPassword" placeholder="Confirm New Password" aria-describedby="confirm new password">
                                        </div>
                                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success"> Change Password</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

