@model TopLearn.Core.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">TopLearn</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        <div class="form-layer">

            <form asp-controller="Account" asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input type="text" class="form-control" asp-for="Email" placeholder="Email" aria-describedby="email-address">
                </div>
                <span class="text-danger" asp-validation-for="Email"></span>

                <button type="submit" class="btn btn-primary mx-auto"> Send Change Password Link </button>

            </form>
        </div>

    </div>
</main>