@model TopLearn.Core.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">TopLearn</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        <div class="form-layer">

            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                
                <input type="hidden" asp-for="ActiveCode"/>

                
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" aria-describedby="password">
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" aria-describedby="confirm password">
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                
                <button type="submit" class="btn btn-primary"> Reset Password </button>

            </form>
        </div>

    </div>
</main>